/* 
    Document   : specificStyle.css
    Created on : 14-jul-2011, 17:46:02
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/




/*body{

}*/


#doc2 {
    text-align:left;
    margin:auto;
    width: 74.6em;
    *width: 72.75em;
    min-width: 970px;
    font-family: Helvetica,Arial,Geneva,sans-serif;
}


fieldset{
    border: #DDD solid 1px;
    padding:1em;
}


legend,caption{
    font-size:1.2em;
    font-weight:900;
    color:#1C94C4;
    padding: 5px;
    margin: 0 0px;
}
label
{
    font-size:1.1em;
    font-weight:600;
}

fieldset input[type="text"]{
    min-width:50px;
    height:18px;
    
}

select,option{
    height:22px;
}

textarea{
    width:600px;
    height:150px;
}

table{
    empty-cells:hide;
}


img{
    max-height:800px;
    max-width:800px;
}



h1,h2,h3,h4{ color:#1C94C4; }
h1{ font-size:2.5em; }
h2{ font-size:1.5em; }
/*h3{ font-size:1.2em; }*/
*:first-letter { text-transform: uppercase;}

a{
    text-decoration:none;
    color:#1C94C4;
    -moz-border-radius:4px;
    padding:0 1px;

}
a:hover{
    color:#1C94C4;
    background-color:#ccddff;
    border:1px solid #1C94C4;
    padding:0px;
    z-index:1000;
}

/******************************************************************** Cabecera */
#hd{
    height:100px;
}

#logo h1{
    margin:1em 0em 0.5em 0em;
}

/************************************************************************ menu */
#menu{
    line-height: 50px;
    font-size: 1.1em;
}
#menu a{
    margin:5px;
    padding:10px;
}
#menu a:hover{
    -moz-box-shadow:0px 0px 5px #f7b850;
    text-decoration:underline;
    border:1px solid #1C94C4;
    margin:5px 4px;
}

.current{
    font-weight:600;
    padding: 15px 10px 30px 10px;
    -moz-box-shadow:0px 0px 10px #BBC;
}

/**************************************************** login */
#formLogin{
    width:370px;
    margin:0 auto;
}

div#login label{
    width: 25%;
    line-height:18px;
    float: left;
    font-size:1.1em;
    position:relative;
}
form#formLogin div{
    margin: 1em;
}

input#user,input#pass{
    width:200px;
    position:absolute;
    margin:0 auto;
    left:46%;
    height:18px;
}

input#user:hover,input#pass:hover,input#user:focus,input#pass:focus{
    background-color:#FDF5CE;
    border:1px solid #FBCB09;
}
input#user:focus,input#pass:focus{
    background-color:#FDF5CE;
    border:1px solid #FBCB09;
    -moz-box-shadow:0px 0px 5px #FBCB09;
    /*color:#1C94C4;*/
    /*font-weight:bolder;*/
}

#blogin{
    margin: 0 auto;
    width:360px;
}

#errorLogin{
    display:block;
    color:red;
    padding:1em;
    font-weight: bolder;
}
#errorLogin img{
    margin-left:150px;
}


/********************************************************************* parte ***/
#controlesParte{
    margin:3em 0;
}
a.boton{
    font-size:1.5em;
    font-weight:bold;
    padding:5px 10px;
}

a.boton:hover{
    text-decoration:none;
}




div.error{
    margin:1em;
    font-weight:bold;
    background:#FFCCCC;
}
div.error li{
    line-height:30px;
    list-style:square inside;
}


table.datatable th{
    text-transform:capitalize;
    font-weight:700;
    font-size:1.1em;
    color:#1C94C4;
}

table.datatable{
   
   margin:5px;
   min-width:40px;
}

div#pie{
    display:block;
    padding:10px;
    width:600px;
    height:30px;
    margin: 0  auto;
    text-align:center;
    border: 1px #ccc solid;
    -moz-border-radius:4px;
    line-height:30px;
}


table {
   /* position: absolute;
    left: 5px;
    border: 1px #ccc;        */      
}

tr { 
    border:1px dotted gray;
}
thead th, th { 
    background:#1C94C4;
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:left;
    text-transform:uppercase;
}

td, th { 
    padding:.4em;
}
